.navBar {
  background-color: #94b0b1 !important;
  align-content: center !important;
  justify-content: center !important;
}

.imgContainer {
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}

.logo {
  height: 140px !important;
  width: 230px !important;
}
