.subDiv {
  display: block !important;
  margin: 0px !important;
}

.subContainer {
  margin-top: 10px !important;
  margin-right: 20px !important;
  margin-left: 20px !important;
  width: 100% !important;
}

.subBoxRow {
  /* width: 90% !important; */
  margin: 0px !important;
}

.subBox {
  height: 150px;
  background-color: #555;
  padding: 10px !important;
  margin: 10px !important;
  border-radius: 10% !important;
}
