.footer {
  width: 100%;
  /* position: fixed; */
  margin-top: 0px !important;
  /* bottom: 0px !important; */
  /* left: 0px; */
}
.footerText {
  text-align: center !important;
  padding: 15px !important;
  color: white !important;
  margin: 0px !important;
}
