.searchResultsContainer {
  display: block !important;
}

.leftSide {
  margin-left: 0px !important;
  padding: 0px !important;
}

.resultsDiv {
  border: 10px solid black !important;
  height: 500px !important;
  /* overflow-y: scroll !important; */
}

.listItemImg {
  height: 100px !important;
  width: 100px !important;
  pointer-events: none !important;
}
.listItemTitle {
  pointer-events: none !important;
}

.rightSide {
  margin-right: 0px !important;
  padding: 0px !important;
}

.infoDiv {
  border: 10px solid black !important;
}
