.leftSide {
  margin-left: 0px !important;
  padding: 0px !important;
}

.resultsDiv {
  border: 10px solid black !important;
  height: 500px !important;
  overflow-y: scroll !important;
}

.rightSide {
  margin-right: 0px !important;
  padding: 0px !important;
}

.infoDiv {
  border: 10px solid black !important;
}
