/* Bottom Intro Parent Div */
.botIntParDiv {
  display: block;
  margin-top: 30px !important;
  margin-bottom: 30px !important;
  margin-left: auto;
  margin-right: auto;
  justify-content: center !important;
  align-content: center !important;
}

.bottomContainer {
  padding: 0px !important;

  /* width: 100% !important; */
}

.subHeading {
  /* justify-content: flex-start !important; */
  margin-left: 77px !important;
}
/* @media only screen and (max-width: ) {
} */
.headingCol {
  padding: 0px !important;
}
@media only screen and (max-width: 1199px) {
  .subHeading {
    justify-content: flex-start !important;
    margin-left: 110px !important;
  }
}
@media only screen and (max-width: 767px) {
  .subHeading {
    justify-content: flex-start !important;
    /* margin-left: auto !important; */
  }
  .subHeading {
    /* justify-content: flex-start !important; */
    margin: auto !important;
  }
}
/* */
@media only screen and (max-width: 577px) {
  .subHeading {
    /* justify-content: flex-start !important; */
    margin-left: 15px !important;
  }
  .headingCol {
    margin: 0px !important;
  }
}

.heading {
  text-align: center !important;
}

.subBoxRow {
  /* width: 90% !important; */
  justify-content: center !important;
  margin: 0px !important;
}
.card {
  margin: 0px !important;
  margin-top: 5px !important;
  margin-right: 5px !important;
}
