.topMainDiv {
  /* position: relative;
  z-index: auto !important; */
  /* display: block absolute !important; */
  height: 500px;
  background-image: url(./Assets/mainPhoto.jpeg);
  /* opacity: 75%; */
  background-position: center !important;
  background-size: cover !important;

  /* justify-content: center !important; */
}
/* .mainPhoto {
  position: relative !important;
  z-index: 1 !important;
} */

.overlay {
  width: 100% !important;
}
/*  */
/*  */
.introText {
  color: white !important;
  font-size: 100px;
}
/*  */
/* Form Section */
.topIntFormRow {
  justify-content: center !important;
  align-content: center !important;
}

.topIntFormBorder {
  width: 400px !important;
  border: 2px rgb(255, 255, 255) solid !important;
  border-radius: 50px !important;
  background-color: white !important;
  overflow: hidden !important;
}
/* .topIntSearchForm {
  width: 100% !important;
} */
.topIntSearchFormGroup {
  width: 400px !important;
}
.topIntSearchFormInput {
  width: 335px !important;
  border: 0px !important;
  border-radius: 0px !important;
  box-shadow: none !important;
  margin-bottom: 0px !important;
}

.topIntSearchFormBtn {
  justify-items: center;
  align-items: center;
  background-color: white !important;
  border: 0px !important;
  border-left: black 1px solid !important;
  border-radius: 0px !important;
  margin-right: 0px !important;
  outline: none !important;
}
