.topMainDiv {
  /* position: relative;
  z-index: auto !important; */
  /* display: block absolute !important; */
  height: 500px;
  background-image: url(./Assets/mainPhoto.jpeg);
  /* opacity: 75%; */
  background-position: center !important;
  background-size: cover !important;

  /* justify-content: center !important; */
}
/* .mainPhoto {
  position: relative !important;
  z-index: 1 !important;
} */

.overlay {
  /* display: absolute !important; */
  top: 50% !important;
  left: 50% !important;
  width: 500px !important;
  color: white !important;
}

/* the row that contains all form items */
.formRow {
  height: 70px !important;
  /* width: 100% !important; */
  background: white !important;
  border-radius: 40px;
}
/* Blank Columns */
.blankColLeft {
  padding-right: 0px !important;
  padding-left: 0px !important;
}
.blankColRight {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

/* Start of the form column */
.formCol {
  padding-left: 0px !important;
  padding-right: 3px !important;
  border: none !important;
}
/* "container" of form */
.searchForm {
  width: 100% !important;
  padding-right: 0 !important;
}
/* user input area */
.formInput {
  width: 100% !important;
  padding: 0px !important;
  border: 0 !important;
}

/* Start of the button column */
.btnCol {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.submitBtn {
  float: right !important;
  border: 0 !important;
  padding: 0 !important;
}
